/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  /* (font/BGimg) */
  --dk-blue: rgb(20, 25, 35);
  /* (image card) */
  --md-grey-card: rgb(214, 216, 227);
  /* (button on dark BG) */
  --dk-grey-button: rgb(45, 50, 61);
  /* (page BG/button) */
  --lt-grey-button: rgb(235, 236, 242);
  /* (dark BG/Logo grey) */
  --lt-font-logo: rgb(107, 110, 117);
}


body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-image: url("../assets/top.png");
  background-size:contain;
  background-repeat: no-repeat;
}

footer {

}

#core {
  background-image: url("../assets/bottom.png");
  background-size:100%;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.tech {
  height: 50px;
  width: 150px;
  background-color:  var(--md-grey-card);
  border-radius: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.tech-list {
  flex-wrap: wrap;

}