@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box; 
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  /* (font/BGimg) */
  --dk-blue: rgb(20, 25, 35);
  /* (image card) */
  --md-grey-card: rgb(214, 216, 227);
  /* (button on dark BG) */
  --dk-grey-button: rgb(45, 50, 61);
  /* (page BG/button) */
  --lt-grey-button: rgb(235, 236, 242);
  /* (dark BG/Logo grey) */
  --lt-font-logo: rgb(107, 110, 117);
  /* background */
  --lt-background: rgb(247, 247, 250);
  /* shadow for box on lt background */
  --ltbg-shadow: rgb(227, 227, 227);
  /* shadow for box on dk background */
  --dkbg-shadow: rgb(52, 66, 91);
}


body {
  color: var(--dk-blue);
  background-color: var(--lt-background);
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-image: url("../assets/top.png");
  background-size:contain;
  background-repeat: no-repeat;
  color: var(--lt-grey-button);
  height:70rem;
  margin-bottom: -22rem;
}

nav {
  width: 100%;
}

nav ul li a {
  color: var(--lt-grey-button);
  text-decoration: none;
  margin: 1rem;
}

nav i, ul {
  margin-top: 2rem;
}



.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
}

.align_center {
  align-items: center;
}

.halve-width {
  width:40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.upper_text_ltbg {
  color: var(--lt-font-logo);
  font-size: 1rem;
}

.lower_text_ltbg {
  color:var(--dk-blue);
  font-size: 4rem;
  margin-top: -1rem;
}

.upper_text_dkbg {
  color: var(--lt-font-logo);
  font-size: 1rem;
}

.lower_text_dkbg {
  color: var(--lt-background);
  font-size: 4rem;
  margin-top: -1rem;
}


.tech {
  height: 150px;
  width: 250px;
  background-color:  var(--md-grey-card);
  border-radius: 15px;
  margin: 1rem;
  padding: 2rem;
  font-size: 2rem;
}

.tech-list {
  flex-wrap: wrap;
}

ul {
  text-decoration: none;
  list-style: none;
}

.pics{
  width: 80%;
  border-radius: 2rem;
  margin: 4rem;
}

.pic-card {
  background-color: var(--md-grey-card);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 1.5rem;
  box-shadow: 0px 10px 10px var(--ltbg-shadow);
  display: flex;
  justify-content: center;
}

.card-size {
  width: 100%;
}

/* ********
*** Buttons
******** */

.dk-button {
  background-color: var(--dk-blue);
  color: var(--lt-grey-button);
  box-shadow: 0px 10px 10px var(--ltbg-shadow);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.lt-button {
  background-color: var(--lt-grey-button);
  color: var(--dk-blue);
  box-shadow: 0px 10px 10px var(--dkbg-shadow);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.lt-button-ltbg {
  background-color: var(--lt-grey-button);
  color: var(--dk-blue);
  box-shadow: 0px 10px 10px var(--ltbg-shadow);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

button {
  border-radius: 8px;
}

/* ********
*** Major Sections
******** */

#brand p {
  font-size: 2rem;
}

#core {
  background-image: url("../assets/bottom.png");
  background-size:100%;
  background-repeat: no-repeat;
}

#partner_nav {
  font-size: 4rem;
}

#order {
  background-color: var(--dk-blue);
}

.card-service {
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 10px rgb(227, 227, 227);
}

#blog h3 {
  font-size: 2rem;
  padding-top: 2rem;
}

#blog h4 {
  font-size: 3rem;
  margin-top: -1rem;
}

#blog > div > div {
  border: 1px solid var(--md-grey-card);
  border-radius: 8px;
  box-shadow: 5px 10px 10px var(--ltbg-shadow);
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}

/* ********
*** Margin & Padding
******** */


.margin-l3 {
  margin-left: 3rem;
}

.margin-l50pc {
  margin-left: 20%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.top-bottom {
  margin-top: 6rem;
  padding-top: 2rem;
  margin-bottom: 6rem;
  padding-bottom: 2rem;
}

.margin-both {
  margin-left: 1rem;
  margin-right: 1rem;
}


@media all and (min-width: 2000px) {
  header {
    background-size:cover;
    background-repeat: no-repeat;
    color: var(--lt-grey-button);
    height:80rem;
    margin-bottom: -15rem;
  }
}


@media all and (max-width: 1250px) {
  nav {
    font-size: 2rem;
  }
   #brand {
    display: block; 
    clear:both;
    text-align: center;
  }
  #brand p {
    color: var(--lt-font-logo);
  }
  .halve-width {
    width: 100%;
  }
  .pics{
    margin: 1rem;
  }
  header {
    height: auto;
    margin-bottom: 3rem;
  }
  #partner_nav ul {
    margin-left: auto;
  }
  
}

@media only screen and (max-width:1000px) {
  *{
    margin:0;
    padding:0;
    max-width: 100%;
  }
  html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }

  .wrapper{
    border-bottom: 1px solid #E2E8F0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background-color: var(--lt-background);
  }
  .nav-menu { 
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin-left: 2.5rem 0;
  }

  .nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
  }

  .nav-link:hover{
    color: #482ff7;
  }

  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }
}